# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# Node
node_modules/
npm-debug.log
.next/
out/
build/
.vercel/

# App Data
backend/uploads/
*.mp4
*.csv

# OS
.DS_Store
Thumbs.db
